<h2>Sudoku</h2>
<%= form_tag(sudoku_submit_path) do %>
  <% @grid.each_with_index do |row, i| %>
    <% row.each_with_index do |col, j| %>
      <%= label_tag("array[#{i}][#{j}]", "#{col}") %>
      <%= text_field_tag("array[#{i}][#{j}]", col) %>
    <% end %>
    <br>
  <% end %>
  <%= submit_tag("MANUAL", name:"solver", value: "CHECK") %>
  <%= submit_tag("AUTO", name:"solver", value: "COMPLETE") %>
<% end %>